#### sensorhubservice
#
type sensorhubservice, domain;
type sensorhubservice_exec, exec_type, file_type;

allow sensorhubservice kernel:system module_request;
allow sensorhubservice servicemanager:binder transfer;
allow sensorhubservice sysfs:file write;

init_daemon_domain(sensorhubservice)
