allow system_app sysfs_mdnie_writable:{ file lnk_file } rw_file_perms;
allow system_app sysfs_mdnie_writable:dir search;

allow system_app kernel:system module_request;
allow system_app sensorhubservice:binder call;
