type uci, domain;
type uci, exec_type, file_type;

init_daemon_domain(uci)

allow uci init:dir r_dir_perms;
allow uci init:file r_file_perms;
allow uci init:key { write search setattr };
allow uci rootfs:dir create_dir_perms;
allow uci rootfs:lnk_file create_file_perms;
allow uci rootfs:fifo_file create_file_perms;